@{
    ViewBag.Title = "LE-Bild";
}

<h2 style="font-family: Kunstler Script, Times, serif;">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>

    We photograph couples, families, students, children, babies, preschools, etc.

    We offer you a modern photography with slightly different pictures, as well as classic photography
    We also have a mobile studio that we can build with you for smoother personal photography.
    Please feel free to contact us for a quick price sample or a quote. We look forward to talking with you.
    Our strength is to work quickly and efficiently without tumbling a millimeter on the quality.
    We are curious and creative and the requirement for ourselves is that the customer should always be satisfied.
    Our task is to create images that
</p>

