@model List<LE_BildDatabase.Models.About>

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <div>
        <color: lightblue;>LE-Bild</color:>
    </div>
    <br />

    Novisvägen 19/Agnes Lagerstedts gata 21/Holländargatan 27<br />
    Alvesta/Stockholm/Sweden<br />
    <abbr title="Phone">P:</abbr>
    0046 736 79 99 79
</address>

<address>
    <strong>Support:</strong>   <a href="lillemor@le-bild.se">info@le-bild.se</a><br />
    <strong>Marketing:</strong> <a href="mailto:info@le-bild.se">lillemor@le-bild.se</a>
</address>