@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lillemor Eriksson</h1>
    <p class="lead">Fotograf</p>
    <p><a href="https://le-Bild.se" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>
            Look for a photographer
        </h2>
        <p>
            Vi jobbar med barn, djur, natur.
        </p>
        <p><a class="btn btn-default" href="https://www.le-bild.se/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>training</h2>

        <p>
            Utbildning inklusive allt, komplett kompetensutveckling med mätbara resultat. I snart 40 år har vi med stor framgång utvecklat människor,
            erbjudit konsulttjänster och hjälpt våra kunder att nå sina mål..
        </p>
        <p><a class="btn btn-default" href="https://www.lexicon.se/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
