@{
    ViewBag.Title = "Portfolio";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img class="galleryImg" src="~/fonts/Photo/Kulturens-Hus-LE-Bild-webb-2[1].jpg" />
            <img class="galleryImg" src="~/fonts/Photo/Kulturens-Hus-LE-Bild-webb-6[1].jpg" />
            <img class="galleryImg" src="~/fonts/Photo/Kulturens-Hus-LE-Bild-webb-4[1].jpg" />

        </div>
        <div class="col-sm-4">
            <img class="galleryImg" src="~/fonts/Photo/Kulturens-Hus-LE-Bild-webb-1[1].jpg" />
            <img class="galleryImg" src="~/fonts/Photo/Kulturens-Hus-LE-Bild-webb-9[1].jpg" />
            <img class="galleryImg" src="~/fonts/Photo/Kulturens-Hus-LE-Bild-webb-3[1].jpg" />
        </div>
        <div class="col-sm-4">
            <img class="galleryImg" src="~/fonts/Photo/Kulturens-Hus-LE-Bild-webb-11[1].jpg" />
            <img class="galleryImg" src="~/fonts/Photo/Kulturens-Hus-LE-Bild-webb-10[1].jpg" />
            <img class="galleryImg" src="~/fonts/Photo/Kulturens-Hus-LE-Bild-webb-5[1].jpg" />
        </div>
    </div>
</div>